<h2><%= @author.name %></h2>
<!--<p><%= @author.country %></p>-->
<h4>Country: <%= @author.country_name %></h4>
<h4>Date of Birth: <%= @author.dob.strftime("%B %d, %Y") %></h4>

<%= link_to "Back", authors_path %>
<%= link_to "Edit", edit_author_path(@author) %>
<%= link_to "Delete", author_path(@author), method: :delete, data: {confirm: "Are you sure?"} %>
